.profile {
  margin: 0 auto;
  margin-top: 40px;
  width: 200px;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
}

.name {
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 25px;
}

.tag,
.location {
  font-size: 14px;
  color: rgb(93, 88, 88);
}

.stats {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 25px;
  align-items: center;
  background-color: rgb(214, 214, 214);
  border-top: 1px solid rgba(180, 177, 177, 0.614);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 10px;
  border-right: 1px solid rgba(180, 177, 177, 0.614);
}

.item:last-child {
  border-right: none;
}
.label {
  color: rgb(93, 88, 88);
}

.quantity {
  font-weight: 600;
}
