.item{
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    padding:20px;
        width: 300px;
        align-items: center;
        background-color:rgb(214, 214, 214);
        border-radius: 5px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
}


.avatar{
    border-radius: 10px;
    width: 70px;
    height:70px;
    margin-right: 10px;
}

.status {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: red;
}

.active {
    composes: status;
    background-color: green;
}

.name{
    font-size:20px;
    font-weight: 600;
}